/* Put CSS styling to make the site smexy here */

@font-face {
    font-family: 'wonder_mailregular';
    src: url('fonts/wondermail-webfont.eot');
    src: url('fonts/wondermail-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/wondermail-webfont.woff2') format('woff2'),
         url('fonts/wondermail-webfont.woff') format('woff'),
         url('fonts/wondermail-webfont.ttf') format('truetype'),
         url('fonts/wondermail-webfont.svg#wonder_mailregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.test {
    font-family: 'wonder_mailregular';
    font-size: 36px;
    color: white;
    text-align: center;
}

.picAlign{
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: 70%;
}

.PMDtext {
    background-image: url(textbox.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: teal;
    font-family: 'wonder_mailregular';
    font-size: 36px;
    text-align: left;
    border: none;
    height: 102px;
    width: 648px;
    color: white;
    resize: none;
    padding-top: 20px;
    padding-bottom: 34px;
    padding-right: 36px;
    padding-left: 36px;
    overflow-y: hidden;
    text-shadow: 2.5px 0px black, 0px 2.5px black;
}

.backgroundbackground{
    background-color: teal;
    align-content: center;
    margin: auto;
    width: 900px;
}

/* size = width 720, height 156, subtract for padding */

body {
    background-color: green;
}

h1 {
    text-align: center;
}

.th_ehead {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 56px;
    color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;

}

.cbt {
    text-align: center;
    text-shadow: 2px 2px white;
    font-size: 10px;
    padding-top: 20%;
    padding-left: 20%;
    padding-right: 20%;
}

.another{
    padding: 5%;
}